<p id="notice"><%= notice %></p>

<h1>Our library</h1>

<%= form_with method: :get, local: true do |form| %>
  <%= form.text_field :term, value: params[:term] %>
  <%= form.submit 'search' %>
<% end %>
<br />
<%= link_to 'Get list of Books', books_exporter_path, target: '_blank' %>
<br />
<br />
<%= link_to 'Get list of Magazines', magazines_exporter_path, target: '_blank' %>
<br />
<br />

<table>
  <thead>
    <tr>
      <td>Type</td>
      <th>Title</th>
      <th width='10%'>Isbn</th>
      <th width='20%'>Authors</th>
      <th>Extra info</th>
    </tr>
  </thead>
  <tbody>
    <% @items.each do |item| %>
      <tr>
        <td><%= item.class.name.first %></td>
        <td><%= item.title %></td>
        <td><%= item.isbn %></td>
        <td><%= author_emails(item.authors) %></td>
        <td><%= extra_info(item) %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= form_with url: books_importer_path, local: true, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag 'Import Books' %>
<% end %>
<br />
<%= form_with url: magazines_importer_path, local: true, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag 'Import Magazines' %>
<% end %>
